FlowTeam/force-app/main/default/flows/EndOfProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ProjectToComplete</name>
        <label>ProjectToComplete</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MailProblemaProjectoCompleto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Un proyecto necesita su atención</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AsignoContadorTareasCompletas</name>
        <label>AsignoContadorTareasCompletas</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>ContadorTareasCompletas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTareasCompletas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TareasCompletadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignoContadorTareasTotales</name>
        <label>AsignoContadorTareasTotales</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ContadorTareasTotales</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTodasLasTareas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTareasCompletas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroCounters</name>
        <label>ZeroCounters</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>ContadorTareasCompletas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorTareasTotales</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTodasLasTareas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Llego_a_fecha_Fin</name>
        <label>Llego a fecha Fin?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndDateOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroCounters</targetReference>
            </connector>
            <label>EndDateOk</label>
        </rules>
    </decisions>
    <decisions>
        <name>TareasCompletadas</name>
        <label>TareasCompletadas?</label>
        <locationX>182</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>ProjectToComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TodasCompletas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorTareasTotales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContadorTareasCompletas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateToComplete</targetReference>
            </connector>
            <label>TodasCompletas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EndOfProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EndOfProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTareasCompletas</name>
        <label>GetTareasCompletas</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignoContadorTareasCompletas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTodasLasTareas</name>
        <label>GetTodasLasTareas</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignoContadorTareasTotales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateToComplete</name>
        <label>updateToComplete</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Llego_a_fecha_Fin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-24</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MailProblemaProjectoCompleto</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El projecto&lt;strong style=&quot;font-size: 14px;&quot;&gt; {!$Record.Name}  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;tiene tareas  pendientes de completar por lo que no puede pasarse a Complete.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContadorTareasCompletas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContadorTareasTotales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
