FlowTeam/force-app/main/default/flows/FirstFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssigmentCollection</name>
        <label>AssigmentCollection</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentProjectLineItem</name>
        <label>AssignmentProjectLineItem</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItem.Quantity_Hs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunityLineItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem.Rol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunityLineItem.Rol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunityLineItem.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FirstFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FirstFlow</label>
    <loops>
        <name>LoopOpportunityLineItem</name>
        <label>LoopOpportunityLineItem</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>GetOpportunityLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentProjectLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProjectLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateProject</name>
        <label>CreateProject</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>GetOpportunityLineItem</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <stringValue>{!$Record.PM__r.FirstName} {!$Record.PM__r.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Hs__c</field>
            <value>
                <elementReference>$Record.TotalOpportunityQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProjectLineItem</name>
        <label>CreateProjectLineItem</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputReference>Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunityLineItem</name>
        <label>GetOpportunityLineItem</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProjectId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProjectId</name>
        <label>GetProjectId</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateProject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateProject</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProjectLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
