FlowTeam/force-app/main/default/flows/InProgressManualValidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AsignoContadorPLi</name>
        <label>AsignoContadorPLi</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ContadorPLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetPLIALL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ZeroContadorPLITrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignoContadorPLITrue</name>
        <label>AsignoContadorPLITrue</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>contadorPLITrue</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTruePLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cubri_Horas_por_Rol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContadorSquadLead</name>
        <label>ContadorSquadLead</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>contadorSquad</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetProjectSquadLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SquadLeadProjecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroContadorPLI</name>
        <label>ZeroContadorPLI</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ContadorPLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPLIALL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroContadorPLITrue</name>
        <label>ZeroContadorPLITrue</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>contadorPLITrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTruePLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroContadorSquad</name>
        <label>ZeroContadorSquad</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>contadorSquad</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProjectSquadLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cubri_Horas_por_Rol</name>
        <label>Cubri Horas por Rol?</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>UpdateTriggerNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HorasCubiertasOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorPLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contadorPLITrue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTriggerYes</targetReference>
            </connector>
            <label>HorasCubiertasOk</label>
        </rules>
    </decisions>
    <description>Project going to In progress must validate conditions</description>
    <environments>Default</environments>
    <interviewLabel>InProgressManualValidation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InProgressManualValidation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Trae los registros PLI de un proyecto</description>
        <name>GetPLIALL</name>
        <label>GetPLIALL</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignoContadorPLi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProjectSquadLead</name>
        <label>GetProjectSquadLead</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContadorSquadLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SquadLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Trae los registros PLI de un proyecto con covered hours por rol en True</description>
        <name>GetTruePLI</name>
        <label>GetTruePLI</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignoContadorPLITrue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalHoursCovered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SquadLeadProjecto</name>
        <label>SquadLeadProjecto</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ZeroContadorPLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SquadLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTriggerNo</name>
        <label>UpdateTriggerNo</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Only_1_SquadLead__c</field>
            <value>
                <elementReference>contadorSquad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RolHoursCovered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SquadLead__c</field>
            <value>
                <elementReference>SquadLeadProjecto.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTriggerYes</name>
        <label>UpdateTriggerYes</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Only_1_SquadLead__c</field>
            <value>
                <elementReference>contadorSquad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RolHoursCovered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SquadLead__c</field>
            <value>
                <elementReference>SquadLeadProjecto.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ZeroContadorSquad</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContadorPLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contadorPLITrue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contadorSquad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
