FlowTeam/force-app/main/default/flows/ProjectStarts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HorascubiertasFaltantes</name>
        <label>HorascubiertasFaltantes</label>
        <locationX>314</locationX>
<<<<<<< HEAD
        <locationY>1956</locationY>
=======
        <locationY>1836</locationY>
>>>>>>> 0940fe3 (mando todo)
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>HorasFaltantes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Atencion Faltan horas a Cubrir en proyecto</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ProyectoPerdiendo</name>
        <label>ProyectoPerdiendo</label>
        <locationX>578</locationX>
<<<<<<< HEAD
        <locationY>1116</locationY>
=======
        <locationY>996</locationY>
>>>>>>> 0940fe3 (mando todo)
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProyectoEnPerdida</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Atencion proyecto en Perdida</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Mail que avisa necesidad de cambio en SquadLead</description>
        <name>SquadLeadNeedChange</name>
        <label>SquadLeadNeedChange</label>
        <locationX>842</locationX>
<<<<<<< HEAD
        <locationY>996</locationY>
=======
        <locationY>876</locationY>
>>>>>>> 0940fe3 (mando todo)
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SquadLeadAtention</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Atencion Error Asignacion SquadLead</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ContadorPLIconHoras</name>
        <label>ContadorPLIconHoras</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1476</locationY>
=======
        <locationY>1356</locationY>
>>>>>>> 0940fe3 (mando todo)
        <assignmentItems>
            <assignToReference>CounterPLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetPLIwithSoldRol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPLITrueHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterPLITrue</name>
        <label>CounterPLITrue</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1716</locationY>
=======
        <locationY>1596</locationY>
>>>>>>> 0940fe3 (mando todo)
        <assignmentItems>
            <assignToReference>CounterTruePLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetPLITrueHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TotalHoursCovered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SquadCounter</name>
        <label>SquadCounter</label>
        <locationX>611</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>SquadsCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SquadsPerProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
<<<<<<< HEAD
            <targetReference>UnicoSquadLead</targetReference>
=======
            <targetReference>ProjectRequirements</targetReference>
>>>>>>> 0940fe3 (mando todo)
        </connector>
    </assignments>
    <assignments>
        <name>ZeroCounter</name>
        <label>ZeroCounter</label>
        <locationX>611</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>SquadsCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SquadsPerProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroCounterPLI</name>
        <label>ZeroCounterPLI</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1116</locationY>
=======
        <locationY>996</locationY>
>>>>>>> 0940fe3 (mando todo)
        <assignmentItems>
            <assignToReference>CounterPLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ZeroCounterPLITrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroCounterPLITrue</name>
        <label>ZeroCounterPLITrue</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1236</locationY>
=======
        <locationY>1116</locationY>
>>>>>>> 0940fe3 (mando todo)
        <assignmentItems>
            <assignToReference>CounterTruePLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPLIwithSoldRol</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckProjectStartDate</name>
        <label>CheckProjectStartDate</label>
        <locationX>858</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StartDateToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroCounter</targetReference>
            </connector>
            <label>StartDateToday</label>
        </rules>
    </decisions>
    <decisions>
        <description>Vemos si el proyecto esta en ganancia o perdida</description>
        <name>Ganancia_o_Perdida</name>
        <label>Ganancia o Perdida?</label>
        <locationX>380</locationX>
<<<<<<< HEAD
        <locationY>996</locationY>
=======
        <locationY>876</locationY>
>>>>>>> 0940fe3 (mando todo)
        <defaultConnector>
            <targetReference>ProyectoPerdiendo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroCounterPLI</targetReference>
            </connector>
            <label>NoPerdida</label>
        </rules>
    </decisions>
    <decisions>
        <description>chequeamos las verificaciones pedidas
1) Un Solo SquadLead por proyecto
2) Cantidad de horas asignadas por rol no debe ser menor a las vendidas por rol, puede ser mayor
3) El proyecto no este en perdida, Costo horas vendidas &gt;= Costo Proyecto actual</description>
        <name>ProjectRequirements</name>
        <label>ProjectRequirements</label>
        <locationX>611</locationX>
<<<<<<< HEAD
        <locationY>876</locationY>
=======
        <locationY>756</locationY>
>>>>>>> 0940fe3 (mando todo)
        <defaultConnector>
            <targetReference>SquadLeadNeedChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneSquadLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SquadsCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ganancia_o_Perdida</targetReference>
            </connector>
            <label>OneSquadLead?</label>
        </rules>
    </decisions>
    <decisions>
        <name>TotalHoursCovered</name>
        <label>TotalHoursCovered?</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1836</locationY>
=======
        <locationY>1716</locationY>
>>>>>>> 0940fe3 (mando todo)
        <defaultConnector>
            <targetReference>HorascubiertasFaltantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterTruePLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CounterPLI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusInProgress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ProjectStarts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProjectStarts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>traemos los que cumplen condicion hs asignadas &gt;= Vendidas</description>
        <name>GetPLITrueHours</name>
        <label>GetPLITrueHours</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1596</locationY>
=======
        <locationY>1476</locationY>
>>>>>>> 0940fe3 (mando todo)
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CounterPLITrue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TotalHoursCovered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>traemos todos los PLI con los roles vendidos para contar todos los que debo cubrir</description>
        <name>GetPLIwithSoldRol</name>
        <label>GetPLIwithSoldRol</label>
        <locationX>182</locationX>
<<<<<<< HEAD
        <locationY>1356</locationY>
=======
        <locationY>1236</locationY>
>>>>>>> 0940fe3 (mando todo)
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContadorPLIconHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Hacemos un chequeo para saber cuantos SquadsLeads Hay armando un contador. busco todos los registros de resources que tengan el checkbox tildado</description>
        <name>SquadsPerProject</name>
        <label>SquadsPerProject</label>
        <locationX>611</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SquadCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SquadLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
<<<<<<< HEAD
    <recordLookups>
        <description>Trae solo un registro... si tiene mas de uno trae al primero y no importa porque la validation rules y los errores no dejan que se escriba este registro.
Si es uno solo y esta bien seleccionado es el registro que usara... como el primer Get dice ALL records tengo que hacer este individual para que lo tome como Single Variable</description>
        <name>UnicoSquadLead</name>
        <label>UnicoSquadLead</label>
        <locationX>611</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SquadLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
=======
>>>>>>> 0940fe3 (mando todo)
    <recordUpdates>
        <name>UpdateStatusInProgress</name>
        <label>UpdateStatusInProgress</label>
        <locationX>50</locationX>
<<<<<<< HEAD
        <locationY>1956</locationY>
        <inputAssignments>
            <field>SquadLead__c</field>
            <value>
                <elementReference>UnicoSquadLead.User__r.Id</elementReference>
            </value>
        </inputAssignments>
=======
        <locationY>1836</locationY>
>>>>>>> 0940fe3 (mando todo)
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckProjectStartDate</targetReference>
        </connector>
<<<<<<< HEAD
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </filters>
=======
>>>>>>> 0940fe3 (mando todo)
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-24</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
<<<<<<< HEAD
    <status>Active</status>
=======
    <status>Obsolete</status>
>>>>>>> 0940fe3 (mando todo)
    <textTemplates>
        <name>HorasFaltantes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El proyecto&lt;strong style=&quot;font-size: 16px;&quot;&gt; {!$Record.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; no posee todas las horas vendidas cubiertas por cada Rol. &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProyectoEnPerdida</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El Proyecto &lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Record.Name}&lt;/strong&gt; se encuentra en Perdida.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SquadLeadAtention</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El proyecto &lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Record.Name}&lt;/strong&gt; no cumple con el requirimiento de SquadLead, verifique que este asignado un solo recurso.&lt;/p&gt;&lt;p&gt;Actualmente cuenta con  &lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!SquadsCounter}   SquadLead&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>para el contador de PLI con horas asignadas</description>
        <name>CounterPLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Contamos los que estan en True porque cumplen con requisito hs asignadas &gt;= hs vendidas</description>
        <name>CounterTruePLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SquadsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
