FlowTeam/force-app/main/default/flows/ToCompleteManualProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignacion</name>
        <label>Asignacion</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>CounterTareasTotales</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTareasAll</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTareasComplete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignoCompletas</name>
        <label>AsignoCompletas</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>CounterTareasCompletas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTareasComplete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Todas_Completas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroCountersManual</name>
        <label>ZeroCountersManual</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>CounterTareasCompletas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterTareasTotales</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTareasAll</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Todas_Completas</name>
        <label>Todas Completas?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>UpdateTareasIncompletas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiTodas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterTareasCompletas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CounterTareasTotales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTrigger</targetReference>
            </connector>
            <label>SiTodas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CounterTareasPendintes</name>
        <dataType>Number</dataType>
        <expression>{!CounterTareasTotales}-{!CounterTareasCompletas}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ToCompleteManualProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ToCompleteManualProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTareasAll</name>
        <label>GetTareasAll</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTareasComplete</name>
        <label>GetTareasComplete</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignoCompletas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTareasIncompletas</name>
        <label>UpdateTareasIncompletas</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>TareasImcompletas__c</field>
            <value>
                <elementReference>CounterTareasPendintes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTrigger</name>
        <label>UpdateTrigger</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ZeroCountersManual</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CounterTareasCompletas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CounterTareasTotales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
