FlowTeam/force-app/main/default/flows/UpdateTaskHs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AsignacionInicial</name>
        <label>AsignacionInicial</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>SumatoriaHs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TaskHsLoaded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignacionSumatoria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignacionSumatoria</name>
        <label>AsignacionSumatoria</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SumatoriaHs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TaskHsToLoad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatetriggerHs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>UpdateTaskHs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateTaskHs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdatetriggerHs</name>
        <label>UpdatetriggerHs</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>TaskHsLoaded__c</field>
            <value>
                <elementReference>SumatoriaHs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskHsToLoad__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AsignacionInicial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskHsToLoad__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SumatoriaHs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
