FlowTeam/force-app/main/default/flows/UpdateDeleteRelated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Sum_All_hours_from_item</name>
        <label>Sum All hours from item</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>TotalHours.Assign_Hours__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Items.Resource_Assigned_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroCounter</name>
        <label>ZeroCounter</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>TotalHours.Assign_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>update de related resources cuando se borra un registro pensando en que estamos en prekick off asignando recursos</description>
    <environments>Default</environments>
    <interviewLabel>UpdateDeleteRelated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateDeleteRelated</label>
    <loops>
        <name>Loop_Items</name>
        <label>Loop Items</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_ProjectResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_All_hours_from_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ProjectResource</name>
        <label>Get ProjectResource</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rol__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLineItem</name>
        <label>UpdateLineItem</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>ZeroCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.UserRole.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assign_Hours__c</field>
            <value>
                <elementReference>TotalHours.Assign_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectLineItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>actualizo el record que se dispara con 0 horas ya que es un before update y no after.. el registro borrado me lo va a encontrar.</description>
        <name>UpdatePR</name>
        <label>UpdatePR</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Get_ProjectResource</targetReference>
        </connector>
        <inputAssignments>
            <field>Resource_Assigned_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdatePR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource_Assigned_Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionLoopeItem</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Hoursfroimloop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoopItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RolAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>SumOfHours</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumOfTotalHours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>TotalHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
</Flow>
